
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-y: visible;
  overflow-x: hidden;
  font-size: 1.15rem;
  background-color: #f8edeb;
  font-family: 'Quicksand', sans-serif;
}

header {
  display: flex;
  margin-top: 1rem;
  color:#b36a5e;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
}
.pokemon-container {
  color: #b36a5e;
  margin: 1rem 2rem;
  height: 100vh;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.info-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fcd5ce;
  margin: 1em;
  padding: 1rem;
  border-radius: 1em;
}

button {
  cursor: pointer;
  margin-bottom: 1.5rem;
  background-color: #b36a5e;
  color: #fcd5ce;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.2rem;
  border: none;
  transition: 200ms ease-in-out;
}
button:hover {
  cursor: pointer;
  background-color: #ffb5a7;
  color: white;
  padding: 0.5rem;
  border-radius: 12px;
  font-size: 1.2rem;
  border: none;
}